<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a> | <a href="/logout">Logout</a>
    <h1>Welcome, {{ one_tvshow.remote.first_name }} {{ one_tvshow.remote.last_name }}</h1>
    <h2>Band Name: </h2>
    <h2>Music Genre: </h2>
    <h2>Home City: </h2>
   
    
    
    <h3>
        <a href="/tvshow/edit/{{ one_tvshow.id }}">Edit</a> | 
        <a href="/tvshow/delete/{{ one_tvshow.id }}">Delete</a>
    </h3>
   
</body>
</html>